/* General */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Mulish:ital,wght@0,200;0,400;0,600;1,400&display=swap");
:root {
  --primary-dark: #303a52;
  --second-dark: #574b90;
  --primary-light: #fc85ae;
  --second-light: #9e579e;
  --title-color: #434752;
  --sibtitle-color: #7e7e7e;
  --general-color: #3a3a3a;
  --background: #e0e0e0;
  --background-cards: #f7f7f7;
  --general-font: "Mulish", sans-serif;
  --cursive-font: "Dancing Script", cursive;
  --title-font: ;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  background-color: var(--background);
}
*::selection {
  color: var(--background-cards);
  background-color: var(--second-light);
}
/* Header */
.header {
  background-color: var(--primary-dark);
  min-height: 50px;
  border-bottom: var(--second-light) solid 2px;
  box-shadow: 0 1.5px 10px rgba(0, 0, 0, 0.7);
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}
.header__navbar {
  width: 90%;
  max-width: 1280px;
  margin: auto;
  padding: 0.5rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header__navigate {
  list-style: none;
}
.header__list {
  display: inline-block;
  margin: 0.5rem 2rem;
}
.header__link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #f0f0ff;
  margin: 0 1rem;
  font-size: 1.8rem;
  font-family: var(--general-font);
  transition: all 0.5s;
}
.header__link--logo {
  display: flex;
  align-items: center;
}
.header__link--menu {
  display: none;
}
.header__link:hover {
  color: var(--primary-light);
  letter-spacing: 0.2rem;
}
.header__img {
  width: 25px;
  height: 25px;
  margin: 0 0.5rem 0 0;
}
.header__title {
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  font-family: var(--cursive-font);
}
.header__menu {
  display: flex;
  align-items: center;
}

/* Contenido */
.container {
  margin: auto;
  padding-top: 60px;
  width: 95%;
  max-width: 1000px;
}
.title__name {
  font-size: 8rem;
  text-align: center;
  font-family: var(--cursive-font);
  padding: 1rem;
  margin: 2.5rem 0 2.5rem 0;
  color: var(--title-color);
}
.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem;
}
.post {
  background-color: var(--background-cards);
  width: 100%;
  max-width: 400px;
  object-fit: cover;
  border-radius: 10px;
  position: static;
  border-bottom: var(--second-light) solid 4px;
  box-shadow: 5px 4px 5px 0px rgba(0, 0, 0, 0.6);
  filter: grayscale(60%);
  -webkit-filter: grayscale(60%);
  -moz-filter: grayscale(60%);
}
.post__image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  max-height: 225px;
}
.post:hover {
  filter: grayscale(0%) blur(0px);
  -webkit-filter: grayscale(0%) blur(0px);
  -moz-filter: grayscale(0%) blur(0px);
}
.post__header {
  margin: 1rem;
}
.post__link {
  text-decoration: none;
  color: inherit;
  font-size: 1.3rem;
}
.post__link:hover {
  color: var(--primary-light);
}
.post__title {
  font-family: Georgia, serif;
  font-size: 2.2rem;
  color: var(--title-color);
  letter-spacing: 0.2rem;
  transition: all 0.5s;
}
.post__title:hover {
  color: var(--second-dark);
  letter-spacing: 0.5rem;
}
.post__subtitle {
  color: var(--sibtitle-color);
  font-size: 1.3rem;
  font-family: var(--general-font);
  font-weight: normal;
}
.post__body {
  margin: 0 1rem;
}
.post__body {
  font-size: 1.5rem;
  text-align: justify;
  color: var(--general-color);
}
.post__actions {
  display: flex;
  justify-content: flex-end;
}
.post__link--button {
  margin: 1rem 1rem 0.2rem 1rem;
  padding: 0.5rem;
  background-color: transparent;
  font-family: var(--general-font);
  border: var(--primary-dark) solid 1px;
  font-size: 1.4rem;
  transition: all 0.5s;
}
.post__link--button:hover {
  background-color: var(--primary-light);
  border: var(--primary-light);
  font-weight: 600;
  border-radius: 4px;
  color: #f0f0ff;
  cursor: pointer;
}
.post__autor {
  margin: 0 2rem;
}
.post__tags {
  margin: 0.5rem 1rem 1rem 1rem;
  font-family: var(--general-font);
}
.post__link--tag {
  margin: 0 1rem;
  color: var(--second-light);
}

.footer {
  width: 100%;
  background-color: var(--second-dark);
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.8rem;
}
.footer__text {
  text-align: center;
  margin: 2rem 0 0.5rem;
}
.footer__icons {
  text-align: center;
  margin: 0.5rem;
}
.icon {
  font-size: 2.5rem;
  color: #000;
  margin: 0 0.5rem;
}
.icon:hover {
  color: var(--primary-light);
}
.footer__credits {
  margin: 1.5rem;
  font-size: 1.5rem;
}
.posted__figure {
  width: 80%;
  margin: 5rem auto 2rem auto;
}
.posted__img {
  align-self: center;
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}
.posted__head {
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
}
.posted__title {
  font-size: 5rem;
  font-family: var(--title-font);
  color: var(--title-color);
}
.posted__subtitle {
  font-size: 1.6rem;
  margin: 0 0.5rem;
  font-family: var(--general-font);
  color: var(--sibtitle-color);
}
.posted__content {
  width: 80%;
  margin: auto;
}
.posted__text {
  font-size: 2rem;
  line-height: 1.5;
  font-family: var(--general-font);
  text-align: justify;
  margin-bottom: 2rem;
  color: var(--general-color);
}
.posted__link {
  font-size: 1.6rem;
}

/* podast */
.podcast{
  width: 100%;
  margin: auto;
  object-fit: cover;
  background: url(../img/wave1.svg);
  background-repeat: repeat-x;
  background-color: var(--background-cards);
  object-fit: cover;
  top: 0;
}
.podcast__content {
  width: 80%;
  margin: auto;
}

.podcast:hover{
  animation: animatewave 5s linear infinite;
  opacity: 1;
  animation-delay: 0s;
}
@keyframes animatewave {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -2200px;
  }
}
.podcast__header{
  width: 80%;
  margin: auto;
  padding: 4rem 0 2rem 0;
}
.podcast__title{
  font-family: var(--title-font);
  font-size: 2.2rem;
  color: var(--title-color);
  letter-spacing: 0.1rem;
}
.podcast__subtitle{
  font-family: var(--general-font);
  font-size: 1.3rem;
  color: var(--sibtitle-color);
}
.podcast__audio {
  object-fit: cover;
  width: 100%;
}
.podcast__descrip{
  margin: 2rem auto;
}
.podcast__text{
  font-size: 1.4rem;
  font-family: var(--general-font);
  line-height: 1.5;
}

/* Quienes somos */
.person__figure{
  width: 50%;
  margin: 2rem auto;
}
.person__image{
  margin: auto;
  object-fit: cover;
  border-radius: 100%;
  width: 100%;
  box-shadow: 0 0 0 0.8rem rgba(0, 0, 0, 0.08);
}
.person__image:hover{
  box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.12);
}

.person__header{
  width: 80%;
  margin: 1rem auto;
  letter-spacing: 0.1rem;
}
.person__name{
  font-family: var(--cursive-font);
  color: var(--title-color);
  font-size: 2.2rem;
  transition: all 0.6s;
}
.person__position{
  color: var(--sibtitle-color);
  font-family: var(--general-font);
  font-size: 1.4rem;
}
.person__header:hover > .person__name{
  font-family: var(--title-font);
  color: var(--second-light);
  letter-spacing: 00.3rem;
}

.person__describ{
  width: 80%;
  margin: auto;
}
.person__copy{
  font-family: var(--general-font);
  font-size: 1.6rem;
}
.person__footer{
  margin: 1.5rem auto 1rem auto;
  width: 80%  
}
.person__social-network{
  display: flex;
  justify-content: center;
}
.person__icon{
  font-size: 1.5rem;
  margin: 00.5rem;
  color: var(--second-dark);
}
.person__icon:hover{
  color: var(--second-light);
  font-size: 1.8rem;
}

.who{
  margin-bottom: 1rem;
}
.who__text{
  padding-bottom: 1rem;
  font-family: var(--general-font);
  font-size: 1.8rem;
  color: var(--general-color);
  text-align: center;
}
.who__subtitle{
  display: inline-block;
  font-family: var(--cursive-font);
  font-size: 4.5rem;
  color: var(--title-color);
  margin: 1rem auto 2rem auto;
  padding: 1rem;
  text-align: center;
  border-bottom: var(--second-light) solid 4px;
  border-radius: 5%;
}
hr{
  margin: auto;
  width: 90%;
  color: var(--second-light);
  height: 0.5rem;
  background-color: var(--second-light);
}
.info{
  margin: 5rem auto;
  align-items: center;
}
.info__section{
  margin-bottom: 5rem;
}
.who__sub{
  display: flex;
}

/* Responsive */
@media screen and (max-width: 800px) {
  /* header */
  .header__list {
    display: block;
    padding: 0.5rem 0;
  }
  .header__nav {
    width: 100%;
  }
  .header__navigate {
    margin: 0 1rem;
    display: none;
  }
  .header__navigate.header__navigate--show {
    display: block;
  }
  .header__link--menu {
    display: block;
    cursor: pointer;
  }

  .content {
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem 1rem;
  }
  .post {
    width: 90%;
    justify-self: center;
  }

  .posted__title {
    font-size: 4rem;
  }
  .posted__subtitle {
    font-size: 1.4rem;
  }
  .posted__text {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 600px) {
  .title__name {
    font-size: 7rem;
    margin: 0 0 2rem 0;
  }

  .content {
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-content: center;
  }
  .post {
    width: 90%;
    /* object-fit: cover; */
    justify-self: center;
  }

  .posted__figure {
    width: 80%;
    margin: 2rem auto;
  }
  .posted__img {
    max-height: 250px;
  }
  .posted__title {
    font-size: 3.5rem;
  }
  .posted__subtitle {
    font-size: 1.2rem;
  }
  .posted__text {
    font-size: 1.6rem;
    margin-bottom: 1.8rem;
  }
}
